@media (max-width: 768px){
    nav{
        width: 95% !important;
        margin: 42px 62px 0 10px !important;
    }
    .AR , .EN{
        right: 30%;
        top: 25%;
    }
    .dark , .fa-sun{
        right: 20%;
    }
    .navbar-collapse{
        background: #f7f8f9;
        border-radius: 0px 0px 90px 90px;
        box-shadow: 0 15px 40px 0 rgb(0 0 0 / 12%);
    }
    .navbar-nav{
        width: unset;
        margin: unset !important;
        margin-left: 43px !important;
    }
    header{
        height: 1100px;
    }
    .card{
        width: 280px;
    margin-top: 150px;
    margin-left: 20px;
    }
    .hello{
        margin-top: 30px;
    }
    .personal{
        height: 700px;
        padding: 20px;
    }
    .infor{
        margin-bottom: 50px;
    }
    .certificate{
        height: 260px;
        padding: unset;
    }
    .certificate h1{
        padding-top: 20px;
    }
    footer{
        height: 400px;
    }
}
@media(width: 768px){
    nav{
        
    width: 96% !important;
    margin: 43px 62px 0 21px !important; 
    }
    .AR , .EN{
        right: 30%;
    top: 25%;
    }
    .dark , .fa-sun{
        right: 20%;
    }
    .navbar-collapse{
        background: #f7f8f9;
        border-radius: 0px 0px 90px 90px;
        box-shadow: 0 15px 40px 0 rgb(0 0 0 / 12%);
    }
    .navbar-nav{
        margin: unset;
        margin-left: 50px;
        
    }
    .card{
        width: 300px;
    }
    .hello{
        margin-top: 190px;
        margin-left: 10px ;
    }
    .person{
        padding: unset;
    }
    .language{
        padding-left: 25px;
    }
    .certificate{
        height: 400px;
        padding: unset;
    }
    .certificate h1{
        padding-top: 20px;
    }
}